---
const { title, url, desc, lang } = Astro.props;
import { Book, GitFork, Star } from 'lucide-preact';
---
<li class="mb-2">
  <a
      href={url}
      target="_blank"
      rel="nofollow noopener noreferrer"
      class={`flex h-full gap-2 flex-col rounded-md p-4 shadow bg-base-200 transition hover:border hover:border-indigo-500  ease-in-out hover:scale-[103%]`}
  >
    <div class="flex items-center gap-2">
      <Book class="h-5 w-5 shrink-0 stroke-brand" />
      <span class="text-brand">{title}</span>
    </div>
    <p class="text-xs my-2">{desc}</p>
    <div class="mt-auto flex items-center gap-6 text-xs">
      <div class="flex items-center gap-2">
        <div class="h-3 w-3 shrink-0 rounded-full bg-gray-200"></div>
        <span>{lang}</span>
      </div>
      <!-- 
      <div class="flex items-center gap-2">
        <Star class="h-4 w-4 shrink-0" />
        <span>star</span>
      </div>
      <div class="flex items-center gap-2">
        <GitFork class="h-4 w-4 shrink-0" />
        <span>fork</span>
      </div>
    -->
    </div>
  </a>
</li>